.lesson-management {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .lesson-management h2 {
    margin-bottom: 20px;
    color: #007bff; /* Couleur bleue pour le titre */
  }
  
  .lesson-management form {
    margin-bottom: 20px;
  }
  
  .lesson-management button {
    margin-right: 10px;
  }
  
  .lesson-management .form-group {
    margin-bottom: 20px;
  }
  
  .lesson-management textarea {
    resize: vertical;
  }
  